* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  overflow: hidden;
}
canvas{
  position: absolute;
  top: 0;
  left: 0;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}
header {
  width: 700px;
  background-color: rgb(13, 13, 13);
  height: 100vh;
  padding: 1px;
}
header .logo {
  width: 130px;
  margin: 20px 20px;
}
header .logo img {
  width: 100%;
}
header .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head .balance-and-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
header .head .balance-and-settings button{
  background: none;
  color: white;
  padding: 5px;
  font-size: 16px;
  font-weight: 200;
}
header .head .balance-and-settings #min-screen{
  display: none;
}
header .head .balance-and-settings .balance {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2px;
}
header .head .balance-and-settings .balance .balance-value {
  color: rgb(0, 167, 0);
  font-weight: bold;
  font-size: 20px;
}
header .head .balance-and-settings .balance .balance-text {
  font-size: 12px;
  color: white;
  margin-bottom: 3px;
}
header .head .balance-and-settings .controls {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 20px;
  gap: 10px;
}
header .bets {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(38, 38, 38);
  border-radius: 22px;
  padding: 5px 7px;
}
header .bets .all-bets,
.my-bets {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  width: 50%;
  background-color: rgb(51, 51, 51);
  border-radius: 22px;
  font-size: 12px;
  cursor: pointer;
}

main {
  position: relative;
  background: linear-gradient(rgb(8, 35, 56), rgb(0, 0, 0));
  width: 100%;
  height: 100vh;
}
main #error-message{
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  color: white; 
  background-color: red; 
  width: 150px;
  height: 30px;
  border-radius: 2px;
  top: 10%;
  right: 10%;
  transform: translate(-50%);
  font-size: 16px;
}
main .game-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
main .game-container .index{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  color: white;
  font-size: 50px;
  font-weight: bold;
}
main .game-container #plane {
  bottom: 200px;
  position: absolute;
  width: 200px;
}
main .game-container #plane img {
  width: 100%;
}
main .bets-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 20px;
}
main .bets-container .bet-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  background-color: rgba(27, 27, 27, 0.621);
  padding: 20px;
  border-radius: 22px;
}
main .bets-container .bet-container #l-bet-btn,
#r-bet-btn {
  border-radius: 22px;
  background-color: rgb(55, 160, 3);
  padding: 30px 80px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
main .bets-container .bet-container .bet .bet-multiplier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  background-color: rgb(13, 13, 13);
  padding: 10px 15px;
  color: white;
  border-radius: 22px;
}
main .bets-container .bet-container .bet .bet-multiplier input {
  width: 50%;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  padding-left: 10px;
}
main .bets-container .bet-container .bet .bet-multiplier input::placeholder {
  color: white;
}
main .bets-container .bet-container .bet .bet-multiplier button {
  background: none;
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: bold;
  color: white;
}
main .bets-container .bet-container .bet .bet-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}
main .bets-container .bet-container .bet .bet-value #l-one,
#l-five,
#l-twenty-five,
#l-one-hundred,
#r-one,
#r-five,
#r-twenty-five,
#r-one-hundred {
  background: none;
  border: 1px solid white;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: rgb(13, 13, 13);
  width: 40px;
  padding: 5px;
  border-radius: 22px;
}
main .game-container #storeage-container{
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 50px;
  top: 5px;
  left: 20px;
  overflow: hidden;
}
main .game-container .storeage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 30px;
  border-radius: 18px;
  background-color: black;
  color: white;
  margin: 20px 5px 0px 0px;
}

.game-history{
  width: 100%;
}
.game-history .head-history{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 16px;
  margin-top: 20px;
}
.game-history .head-history .player-name{
  margin-left: 30px;
}
.game-history .head-history .player-bet{
  margin: 0px 230px 0px 100px;
}

.game-history .my-game{
  margin-top: 20px;
  width: 100%;
  height: 30px;
  border-radius: 8px;
  background-color: rgb(52, 55, 52);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}
.game-history .my-game .player{
  margin-left: 20px;
}
.game-history .my-game .bet{
  margin: 0px 225px 0px 96px;
}